<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.slotprizes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".SlotPrizes"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadcastReceiver.AlarmReceiver" />
        <receiver android:name=".BroadcastReceiver.Alarmb" />

        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopGoldBox"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Achiev"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoldBoxFirst"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoldBoxSecond"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoldBoxThird"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoldBoxZero"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Alarm"
            android:screenOrientation="portrait" />
        <activity android:name=".BackgroundShop" />
        <activity android:name=".Silverone" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Bgdbuy"></activity>
    </application>

</manifest>